@import "variables";
@import "mixins";


.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%;
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    color: #111;
    white-space: nowrap;
    outline: none;


    &.selected {
      border: none;
      outline: 2px solid #3c74ff;
      z-index: 2;
    }
  }

  .col-resize {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #252591;
    opacity: 0;
    z-index: 1000;
    //transition: all 200ms ease-in-out;

    &:hover {
      cursor: col-resize;
      opacity: 1!important;
      //transition: all 200ms ease-in-out;
    }
  }

  .row-resize {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 4px;
    background: #252591;
    opacity: 0;
    transition: all 200ms ease-in-out;

    &:hover {
      cursor: row-resize;
      opacity: 1;
      transition: all 200ms ease-in-out;
    }
  }
}
